.box_card {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  }
.text-danger {
  font-size: medium;
}
.inStock {
  color: #6fbc22;
 
}
.special_offer{
  color: #525252;
  text-align: center;
}
.oldPrice{
  text-decoration: line-through;
  color: #BEBEBE;

}
/* Card slider */
.arrow_slider{
  background-color: #27579A;
  border-radius: 50px;

  margin-left: 5%;
  margin-right: 10%;
  
}
.card_title{
  font-size: 90%;
}
.card{
  margin-top: 5%;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.more_info_btn{
  border-color: #27579A;
  color: #27579A;

}
.more_info_btn:hover{
background-color: #27579A;
}
.cart_link{
  height: 500px;
}
 ul.slick-dots{
  bottom: -43px;

}
.slider_home{
  background-color: #27579A;
  border-radius: 50px; 
  
}
.custom_btn_margin1{
  margin-left:500px 

}
.custom_btn_margin2{
  margin-left:195px 

}
.title_card{
  text-align: center;
}
@media screen and (max-width: 768px) {
  .slider_home {
    display: none;
  }


}
