/* Style the counter cards */
.sliderHome{
  margin-top: 51pt;

}
.col_top_categories {
  padding-bottom: 2em;
  text-align: center;
}
.card_topCategories {
  width: 19rem;
  height: 100%;
  padding-bottom: 2em;
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.card_title_topCategories {
  font-size: 20px;
  font-weight: 600;
}
.desc_of_topCategories {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  margin-bottom: 0.5em;
}

.installment {
  background-image: url("../images/installment.png");
}
.our_location {
  background-image: url("../images/ourLocation.png");
}
.apple_care {
  background-image: url("../images/appleCare.png");
}
.tradein {
  background-image: url("../images/tradeIn.png");
}
/* Adjust the height as needed */
.slide_img {
  width: 100%; /* Set the image width to 100% of the container */
  height: auto; /* Allow the height to adjust proportionally */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.slide_box {
  padding-top: 20px;
}
.legend-container {
  position: relative;
  display: inline-block; /* To make sure the container sizes to its content */
}

.background_slider {
  width: 100%; /* Make sure the image covers the entire container */
  height: auto; /* Maintain the aspect ratio */
}
.container_btn_background {
  display: flex;
}
.btn_preOrder {
  border-radius:25px;
  border-color: #707070;

  position: absolute;
  top: 62%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
  width: 8%;
}
.btn_learnmore {
  border-radius:25px;
border-color: #707070;
  position: absolute;
  top: 62%; /* Adjust the vertical position */
  left: 19%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%); /* Center the button */
  z-index: 1; /* Place the button above the image */
  color: #fff;
  width: 8%;

}

@media screen and (max-width: 510px) {
  .btn_preOrder {
    top: 80%;
    left: 15%;
    margin-top: 4%;
    width: fit-content;
    font-size: x-small;
  }
  .btn_learnmore{
    margin-top: 2%;
    width: fit-content;
    left: 15%;
    font-size: x-small;

  }
}
@media screen and (min-width:511px) and (max-width:1139px){
  .btn_preOrder {
    top: 57%;
    left: 23%;
    margin-top: 4%;
    /* width: fit-content; */
    font-size: x-small;
    margin-left:20px;
  }
  .btn_learnmore{
    margin-top: 2%;
    width: fit-content;
    left: 12%;
    font-size: x-small;

  }
}
