body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
  .logo {
      margin-right: 10px;
    }
    .main_nav {
      background-color: #707070;
      padding-left: 2%;
      padding-right: 2%;
  }
    .catigories_type {
  margin-right:25px; }
    form.nosubmit {
      border: none;
      padding: 0;
    }
    input.nosubmit {
      border-radius: 20px;
      width: 180px;
      border: 1px solid #fff; 
      padding: 0 4px 0 40px;
      background: transparent
        url("../images/searchIcon.png")
        no-repeat 13px center ;
      padding: 1 0 1 1 ;
      display: block;
  
    }
  
  .footer{
      padding-left: 5%;
    } 
   .footer_title{
    color: black;
    font-weight: bold;
    font-size: small;
   }
  
  .text-reset{
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 1px;
  }
  
  
  .footer{
    padding-top: 20px;
  }
  .social_media_icon{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10%;
  }
/* @media screen  and (min-width:768px){
    .catigories_type{
      font-size: small;
    }9
  } 
   */
   

   .cart-link {
    display: flex;
    align-items: center;
  }
  
  .cart-link svg {
    margin-right: 5px; /* Adjust this value as needed */
  }
  